@page "/"

<PageTitle>Moogle!</PageTitle>

<h1 class="title">Moogle!</h1>

<input class="srch" @bind="query" placeholder="Introduzca su búsqueda">

<button type="default" class="btn btn-primary" @onclick="RunQuery">Buscar</button>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
        <p>¿Quisiste decir <strong><a class="sugg" href="#">@result.Suggestion</a></strong>?</p>
    </div>
}

<ul class="results">
@foreach (var item in result.Items()) {
    <li class="listt">
        <div class="item">
            <a class="ftitle" href=@item.Link>@item.Title</a>
            <p>... @((MarkupString)item.Snippet) ...</p>
            <p class="fscore">... @item.Score ...</p>
        </div>
    </li>
}
</ul>


<footer>
    <p class="footerr"> Leonardo Artiles Montero 2022 [ github.com/Leonardo16AM ]</p>
</footer>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();
    private search_engine engine=new search_engine();
    private void RunQuery(){
        result = Moogle.Query(query,ref engine);
    }
}
