@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


html, body {
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial; 
    background-image: linear-gradient(to right, #efefef, #ffffff, #e8e7e7);
} 

.title{
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial; 
    
    font-family: 'Abel';
    font-size:250%;
    font-weight: 600;
}

.title2{
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial; 
    font-weight: 600;
    margin-bottom:1%;

}
.srch{    

    font-family: "JetBrains Mono",monospace;
    appearance: none;
    border-radius: 20px;
    border:none;
    box-shadow: 1px 1px 5px 1px  #969696  ;
    padding-left: 1.5%;
    height: 35px;
    width: 30%;
    margin-right: 15px;
    margin-bottom: 10px; 
}

.txt_name{
    margin-left:3%;
    position:relative;
    display: flex;
    align-items: flex-start;
    color:rgb(12, 12, 132);
}

.txt_text{
    margin:3%;
    margin-top:1%;
}


.M{
    appearance: none;
    background-color: rgb(255, 255, 255);
    color:rgb(12, 12, 132);
    padding: none;
    margin:none;
    border:none;
}
.mark,mark{
    background-color: rgb(12, 12, 132);
    border-radius: 0.5ch;
    color:#ffffff;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.item{
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: rgba(30, 30, 30, 0.4) 0 1px 4px,rgba(0, 0, 0, 0.3) 0 7px 13px -3px,rgba(255, 255, 255, 0.5) 0 -3px 0 inset;
    
    margin-bottom: 15px;
    margin-right: 30px;
    padding: 2%; 
    border-color: hsl(246, 8%, 52%);
}

.footerr{
    font-size: small;
    color: rgb(188, 188, 188);
}

.listt{
    list-style: none;
}

.btn-primary {
    
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, rgb(12, 12, 132) 0, rgb(32, 32, 193));
    border: 0;
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    height: 40px;
    line-height: 1;
    padding-left: 1.0%;
    height: 35px;
}
.btn-primary:active{
    appearance: none;
    transform: scale(0.98);
}

.srch:focus{
    border-color: #b32121;
}
.btn-primary:focus{
    appearance: none;
    margin:0;
    transform: scale(0.98);
}

.btn-primary:active{
    transform: scale(0.98);
}

.sugg{
    text-decoration: none;
    color: rgba(29, 29, 133, 0.921);
}

.qd{
    font-size:small;
}

.ftitle {
    text-decoration: none;
    color:rgb(12, 12, 132);
    font-weight: 600;
    font-size: large;
}
.fscore {
    color: rgb(12, 12, 132);
}
.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}
